<a href="https://colab.research.google.com/github/nikhila-4/PYTHON/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown

**Points**

*Points*

***Points***

*** Adding links to Markdown***

[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Anantapur)

### Inserting image
![text](https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/JNTU_College_of_Engineering_Anantapur.jpg/220px-JNTU_College_of_Engineering_Anantapur.jpg)

In [2]:
print("hello")

hello

In [5]:
print("hello , Jntua")
print("hello, Jntua","|||" ,"Chemical","|||","CSe" ,"|||","Mca")

hello , Jntua
hello, Jntua ||| Chemical ||| CSe ||| Mca

# Assignment

In [10]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # mutliple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [11]:
a = 100
s1 = 10.2
s2= "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [12]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
# lenght
a = 123456
print(len(str(a)))

6

# Reading input from user---input function

In [16]:
a = input("enter ur name  : ")
print(a)
print(type(a))

enter ur name  : jntua
jntua
<class 'str'>

In [17]:
B = int(input("enter ur AGE  : "))
print(B)
print(type(B))

enter ur AGE  : 423
423
<class 'int'>

# Operators
- Operators is a symblos is used to perform a specific kind of operations

# Arithmatic Operator
- +
- -
- * 
- /
- % 
- //
- **

In [19]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# relational operator
- =
- ==
- !=
- <
- >
- <=
- >=

In [20]:
x =10
a1 = x > 15
print(a1)

False

# logical operators
- and
- or
- not

In [28]:
i =100
a1 = (i>15) and (i < 800)
a2 = (i>15) or (i > 800)
i =  not 100
print(a1)
print(a2)
print(i)

True
True
False

# control flow statements
- conditional statements
- looping statements

# if - else statements
## syntax
# if Boolean_condition
# statements
# else:
# statements

In [29]:
# To check given is even or odd
n = int(input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number45
45 is odd number

In [0]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
  print(n,"is perfectly multiples of 3 and 5")
else:
  print(n,"is NOT perfectly multiples of 3 and 5")

# FIND THE LARGEST NUMBER AMONG THE GIVEN 3 NUMBERS

In [30]:
a=int(input("ENTER A "))
b=int(input("enter B"))
c=int(input("enter C"))
if(a>b and a>c):
  print(" A is greater")
elif(b>a and b>c):
  print("B is greater")
else:
  print("C is greater")

ENTER A 15
enter B10
enter C8
 A is greater

In [31]:
a=int(input("enter a"))
if(a>0):
  print(" a is positive ")
elif(a<0):
  print("a is negative")
else:
  print(" given number is zero which is neither positive nor negative")

enter a-5
a is negative