<a href="https://colab.research.google.com/github/nikhila-4/PYTHON/blob/master/day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("nikhila narapareddy")

nikhila narapareddy

In [3]:
print("nikhila,reddy")

nikhila,reddy

In [4]:
print("nikhila,reddy","|||","kadapa")

nikhila,reddy ||| kadapa

***adding links to markdown***
[site]https://www.jntua.ac.in/
###inserting image
![text]https://www.jntua.ac.in/icon/jntua.jpg

***Assignment***

In [6]:
n1= 100 # single variable assignment
print(n1)
a=b=c=10 # multiple variable assignment
print(a,b,c)
a1=b1=c1=100,200,300 #multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
(100, 200, 300) (100, 200, 300) (100, 200, 300)

*DATA TYPES AND CONVERSIONS*

*INT
*FLOAT
*STRING

In [7]:
a=100
s1="10.2"
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'str'> <class 'str'>

In [8]:
i=100
print(i)
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

100
<class 'str'>
<class 'float'>

In [12]:
#length
a = 123456
print(len(str(a)))

6

#reading input from user ---input function

In [13]:
a = input("enter your name")
print(a)
print(type(a))

enter your namenikhila
nikhila
<class 'str'>

In [15]:
B=int(input("enter your age:"))
print(B)
print(type(B))

enter your age:20
20
<class 'int'>

***operators***

# arthimetic operatpor
- +
--
-*
-/
-%
-\\

In [17]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

#relational operator
-=
-==
-!=
-<
->
-<=
->=

In [18]:
x =10
a1 = x>15
print(a1)

False

# logical operators

- and
- or
- not

In [23]:
i=100
a1= i>15 and  i<800
a2= i>15 or i>800
a3 = i != 10
print(a1)
print(a2)
print(a3)

True
True
True

# control flow statements
- conditional
- looping

# if else statement
## syntax
#if Boolean_condition
#statements
#else:
#statements

In [27]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:

   print(n,"is a even number")
else:
  print(n,"is odd number")

enter a number1
1 is odd number

In [37]:
# to checht given number is multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
 print(n,"multiple of 3 and 5")
else:
  print(n,"not multiple of 3 and 5")

enter a number15
15 multiple of 3 and 5

In [39]:
#given number is positive negative or zero
n = int(input("enter a number"))
if n>0:
  print(n,"positive")
elif n<0:
  print(n,"NEGATIVE")
else:
  print(n,"zero")

enter a number6
6 positive

In [40]:
a =int(input("enter a "))
b =int(input("enter b"))
c =int(input("enter c"))
if (a>b and a>c):
 print("a is greater")
elif(b>a and b>c):
 print("b is greater")
else:
 print("c is greater")

enter a 7
enter b8
enter c9
c is greater

In [50]:
a = int(input("enter a"))
if (a%4 == 0 and a%100 !=0)or a%400 == 0:
  print("leap year")
else:
  print("not a leap year")

enter a200
not a leap year

In [0]:
: